<div style="width: 40vw; height: 20vh">
  <h1>Name:   <%= @user.name %></h1>
  <h2>Surname:   <%= @user.surname %></h2>
  <h3>Email:   <%= @user.email %></h3>


  <% if @invitations.present? %>
  <%= render 'invitation/invitation_form.html.erb' %>
  <% end %>

  <% if not @family_member %>
  <%= render 'invitation/form' %>
  <% end %>

</div>
<br> <br>
<%= render 'users/family_form.html.erb' %>


