<br/>
<div class="container" style="width: 1000px">
<div class="card">

  <div class="card-header">
    Profile
    <%= link_to 'Edit Profile', edit_user_registration_path, class:"btn btn-outline-info", style:"margin-left: 766px"%>
  </div>

  <div class="card-body">
    <br/>
    <div class="container" style="width: 900px">
      <div class="jumbotron">
        <h4 class="display-6">Name:   <%= @user.name %></h4>
        <h4 class="display-6">Surname:   <%= @user.surname %></h4>
        <hr class="my-4">
        <p class="lead"> Email:   <%= @user.email %></p>
      </div>
    </div>

    <div class="container" style="width: 900px">
    <% if @invitations.present? %>
    <p class="card-text">
        <%= render 'invitation/invitation_form.html.erb' %>
    </p>
    <% end %>
    </div>

    <div class="container" style="width: 900px">
    <p class="card-text">
      Family:
    <%= render 'users/family_form.html.erb'%>
    </p>
    </div>

    <div class="container" style="width: 900px">
      <% if not @family_member %>
        <p class="card-text">
        <br/>
          <%= render 'invitation/form' %>
        </p>
      <% end %>
    </div>
  </div>
</div>
</div>

