<div style="width: 40vw; height: 20vh">
  <h1>Name:   <%=@user.name %></h1>
  <h2>Surname:   <%=@user.surname %></h2>
  <h3>Email:   <%=@user.email %></h3>
  <h4>List of family members:  </h4>

  <%=render 'users/invitation_form.html.erb' %>


  <%= simple_form_for invitations_path method: :post  do |f| %>

    <%= f.label :email, "Email" %>
    <%= f.text_field :email%>

    <%= f.button :submit, "Send", class: "btn btn-primary" %>
  <% end %>


</div>



<div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="/">
      <%= image_tag('Bell.png', size: "100x100")  %>
    </a>
</div>


