<div style="width: 40vw; height: 20vh">
  <h1>Name:   <%= @user.name %></h1>
  <h2>Surname:   <%= @user.surname %></h2>
  <h3>Email:   <%= @user.email %></h3>


  <% if @invitations.present? %>
  <%= render 'invitation/invitation_form.html.erb' %>
  <% end %>

  <% if not @family_member %>
  <%= render 'invitation/form' %>
  <% end %>


  <%= render 'users/family_form.html.erb' %>

  <button type="button" class="btn btn-info me-3" >
    <%= link_to 'Edit profile', edit_user_registration_path,  style: 'color:#FFFFFF;', class: "text-decoration-none"%>
  </button>

<div>
  <br/>
  <%= link_to 'Back', root_path %>
</div>


</div>



