<%#= form_with url: charts_show_path, local: true, method: :post do %>
<%#= form_tag("/show", method: "post") do  %>
<%= simple_form_for charts_path method: :post  do |f| %>
  <!--<form accept-charset="UTF-8" action="/charts/show" method="post">-->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container">
    <div class="row">
      <!-- BEGIN SEARCH RESULT -->
      <div class="col-md-12">
        <div class="grid search">
          <div class="grid-body">
            <div class="row">
              <!-- BEGIN FILTERS -->

              <div class="col-md-3">
                <h2 class="grid-title"><i class="fa fa-filter"></i> Filters</h2>
                <hr>
                <!-- BEGIN FILTER BY CHART TYPE -->
                <h4>Select object for analyze:</h4>
                <div class="btn-group" role="group">
                  <% if @object_for_analyze == 'Incomes' %>
                    <%= f.collection_radio_buttons :object_for_analyze, [['Expences', 'Expences'], ['Incomes', 'Incomes']], :first, :last,
                                                   :checked => ['Incomes', 'Incomes'] %>
                  <% else %>
                    <%= f.collection_radio_buttons :object_for_analyze, [['Expences', 'Expences'], ['Incomes', 'Incomes']], :first, :last,
                                                   :checked => ['Expences', 'Expences'] %>
                  <% end %>
                </div>
                <!-- BEGIN FILTER BY DATE -->
                <!--                <h1><%#= Date.parse(@start_date) if @start_date.present?  %></h1>-->
                <h4>By date:</h4>


                <%= f.label :start %>
                <% if @start_date.present? %>
                  <%= f.date_select :start_date, selected: @start_date %>
                <% else %>
                  <%= f.date_select :start_date, selected: Date.today.at_beginning_of_month %>
                <% end %>
                <br>
                <br>
                <%= f.label :end %>
                <% if @end_date.present? %>
                  <%= f.date_select :end_date, selected: @end_date %>
                <% else %>
                  <%= f.date_select :end_date, selected: Date.tomorrow %>
                <% end %>
                <!-- END FILTER BY DATE -->

                <!-- BEGIN FILTER BY CHART TYPE -->
                <div>
                  <span>Type of chart:</span>
                  <div class="btn-group" role="group">
                    <% if @type_of_chart == 'Pie' %>
                      <%= f.collection_radio_buttons :type_of_chart, [['Pie', 'Pie'], ['Column', 'Column']], :first, :last,
                                                     :checked => ['Pie', 'Pie'] %>
                    <% else %>
                      <%= f.collection_radio_buttons :type_of_chart, [['Pie', 'Pie'], ['Column', 'Column']], :first, :last,
                                                     :checked => ['Column', 'Column'] %>
                    <% end %>

                  </div>
                </div>


                <!-- END FILTER BY CHART TYPE -->
                <!-- BEGIN FILTER BY CATEGORY -->
                <h1>  <%= @members %></h1>
                <h6>
                  <%= f.input :by_members, as: :check_boxes, collection: @members,
                              input_html: { multiple: true }, label: false %>
                </h6>
                <!--                <div class="checkbox">-->
                <%#= f.input :Me, :as => :boolean, :input_html => { :checked => "checked" } %>
                <!--                </div>-->
                <%# @members.each do |m| %>
                <%#= f.input m, :as => :boolean, :input_html => { :checked => "checked" } %>
                <%# end %>


                <div class="mb-3">
                  <%= f.button :submit, "Go", class: "btn btn-primary" %>
                </div>

                <div class="padding"></div>

              </div>

              <!-- END FILTERS -->
              <!-- BEGIN RESULT -->
              <div class="col-md-9">
                <h2><i class="fa fa-file-o"></i> Result</h2>

                <div class="row">
                </div>

                <!-- BEGIN TABLE RESULT -->
                <div class="table-responsive">
                  <table class="table table-hover">
                    <tbody><tr>
                      <td>
                        <div class="chart-area">
                          <% if @type_of_chart == "Pie"%>
                          <%= pie_chart @chart_data%>
                            <% else %>
                            <%= column_chart @chart_data%>
                            <% end %>
                        </div>
                      </td>

                    </tr>


                    </tbody></table>
                </div>
                <!-- END TABLE RESULT -->

              </div>
              <!-- END RESULT -->
            </div>
          </div>
        </div>
      </div>
      <!-- END SEARCH RESULT -->
    </div>
  </div>

<% end %>