<%= form_with(model: [@operation, @operation_detail]) do |form| %>
  <div class="actions">

    <div class="field">
      <%= form.label :category %>
      <%= form.select(:expence_id, options_for_select(@expences), :include_blank => false ) %>
    </div>
    <div class="field">
      <%= form.label :comment %>
      <%= form.text_area(:comment, size: '80x1') %>
    </div>
    <div class="mb-3">
      <%= form.label :amount, { class: "form-label" } %>
      <%= form.text_field :amount, { class: "form-control", placeholder: "amount"} %>
    </div>
   
    <%= form.submit %>
  </div>
<% end %>
