<%= simple_form_for @operation_detail do |f| %>
  <div class="container .text-primary">
    <h1 class="text-primary">Operation details</h1>
  </div>
  <div class="container">
  <%= f.select :expence_id, options_for_select(@expences.map{ |c| [c.name, c.id]}, @expence.id) %>
  <%= f.input :comment%>
  <%= f.input :amount %>
  <%= f.button :submit %>
<% end %>
</div>
