<%= form_with(model: planned_expence) do |form| %>
  <% if planned_expence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(planned_expence.errors.count, "error") %> prohibited this planned_expence from being saved:</h2>

      <ul>
        <% planned_expence.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= select_tag "planned_expence[expence_id]", options_from_collection_for_select(@expence, "id", "name") %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
