<%= form_for @expence, html: { class: "form-vertical center" } do |form| %>
  <% if expences.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(expences.errors.count, "error") %> prohibited this expence from being saved:</h2>
      <ul>
        <% expences.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-floating mb-3 mt-3">
    <div class="mb-3">
      <%= form.label :name, { class: "form-label" } %>
      <%= form.text_field :name, id: 'name', :class => "form-control" %>
    </div>
    <div class="mb-3">
      <%= form.label :description, { class: "form-label" } %>
      <%= form.text_field :description, id: 'description', :class => "form-control" %>
    </div>
    <div class="Action">
      <% if self.instance_variable_get(:@_controller).instance_variable_get(:@_action_name) != "new" %>
        <% if @expence.predefined == false %>
          <%= form.button "Update ", id: 'update',  type: "submit", :class => "btn btn-outline-info" %>
        <% end %>
      <% else %>
        <%= form.button "Create ", name: 'save', type: "submit", :class => "btn btn-outline-info" %>
      <% end %>
    </div>
  </div>
<% end %>
