<%= form_with(model: operation) do |form| %>
  <% if operation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(operation.errors.count, "error") %> prohibited this operation from being saved:</h2>

      <ul>
        <% operation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_field :date %>
    <%= form.label :ignore %>
    <%= form.check_box :marked %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment %>
  </div>

  <div class="field">
    <%= form.label :id %>
    <%= form.text_field :id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.collection_select :expence_id, @expences.order(:name), :id, :name %>

    <%= form.label :amount %>
<!--    <input id="amount" name="amount" min="0"  type="number" />-->
    <%= form_with url: "/welcome", method: :get do |form| %>
      <%= form.text_field :amount%>
      <%= form.submit "Add" %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
