<%= form_with(model: operation) do |form| %>
  <% if operation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(operation.errors.count, "error") %> prohibited this operation from being saved:</h2>

      <ul>
        <% operation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <% if self.instance_variable_get(:@_controller).instance_variable_get(:@_action_name) == "new" %>
    <%= form.datetime_field :date, :value => Time.now.strftime('%Y-%m-%dT%H:%M:%S') %>
    <% else %>
    <%= form.datetime_field :date %>
    <% end %>
    <%= form.label :ignore %>
    <%= form.check_box :marked %>
  </div>


  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area(:comment, size: '80x1') %>
  </div>

  <div class="d-none d-print-block">
    <%= form.label :id %>
    <%= form.text_field :id %>
    <%= form.label :user_id%>
    <%= form.number_field :user_id, :value => current_user.id %>
  </div>

  <button class="btn btn-primary" type="submit">Save</button>
<% end %>

<%= form_tag("/operations/#{@operation.id}/operation_details", action: "create", method: "post") do %>
  <%=select_tag "expence_id", options_from_collection_for_select(@expences, "id", "name") %>
  <%= label_tag(:amount, "Amount:") %>
  <%= text_field_tag(:amount) %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :operation_id, @operation.id %>
  <%= hidden_field_tag :user_id, current_user.id %>

  <%= label_tag(:amount, "Comment:") %>
  <%= text_field_tag(:comment) %>

  <% if not @operation.id.nil? %>
    <%= submit_tag("Add") %>
  <% else %>
    <%= button_to 'Add', {}, disabled: @operation.id.nil? %>
  <% end %>

  <table class="table table-sm">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category</th>
      <th scope="col">Amount</th>
      <th scope="col">Comment</th>
    </tr>
    </thead>
    <tbody>
    <% idx = 1 %>
    <% @operation_details.each do |operation_detail| %>

      <tr>
        <td><%= idx  %></td>
        <td><%= Expence.find(operation_detail.expence_id).name  %></td>
        <td><%=operation_detail.amount  %></td>
        <td><%=operation_detail.comment  %></td>
        <% idx += 1 %>

      </tr>
    <% end %>

    </tbody>
  </table>

<% end %>
