<%= form_with(model: operation) do |form| %>
  <% if operation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(operation.errors.count, "error") %> prohibited this operation from being saved:</h2>

      <ul>
        <% operation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <% if not @safari && self.instance_variable_get(:@_controller).instance_variable_get(:@_action_name) == "new" %>
      <%= form.datetime_field :date, :value => Time.now.strftime('%Y-%m-%dT%H:%M:%S') %>
    <% else %>
      <%= form.datetime_field :date %>
    <% end %>
    <%= form.label :ignore %>
    <%= form.check_box :marked, class: "form-check-label",
                       title: "will not be taken into account when calculating totals if checked", data: { tooltip: true } %>
  </div>

  <%= form.label :image %>

  <% if operation.image.attached? %>
    <!-- display the image name and thumbnail -->
    <p>
      <%= operation.image.filename %>
    </p>

    <!-- provide a check box to delete the image -->
    <div class='form-check'>
      <%= form.check_box :remove_attached_image, class: 'form-check-input' %>
      <%= form.label 'Check to remove attached image', class: 'form-check-label' %>
    </div>
  <% end %>

  <%= form.file_field :image, class: 'file-field' %>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area(:comment, size: '80x1') %>
  </div>

  <div class="d-none d-print-block">
    <%= form.label :id %>
    <%= form.text_field :id %>
    <%= form.label :user_id%>
    <%= form.number_field :user_id, :value => current_user.id %>
    <%= form.label :operation_type %>
    <%= form.number_field :operation_type, :value => @operation_type %>
  </div>

  <button class="btn btn-primary" id ='save' name ='save' type="submit">Save</button>
<% end %>

<%= form_tag("/operations/#{@operation.id}/operation_details", action: "create", method: "post") do %>
  <% if @operation_type == 1 %>
    <%=select_tag "income_id", options_from_collection_for_select(@incomes, "id", "name") %>
  <% else %>
    <%=select_tag "expence_id", options_from_collection_for_select(@expences, "id", "name") %>
  <% end %>

  <%= label_tag(:amount, "Amount:") %>
  <%= number_field_tag(:amount) %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :operation_id, @operation.id %>
  <%= hidden_field_tag :operation_type, @operation_type %>
  <%= hidden_field_tag :user_id, current_user.id %>

  <%= label_tag(:amount, "Comment:") %>
  <%= text_field_tag(:comment) %>

  <% if not @operation.id.nil? %>
    <%= submit_tag("Add") %>
  <% else %>
    <%= button_to 'Add', {}, disabled: @operation.id.nil? %>
  <% end %>

  <table class="table table-sm">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category</th>
      <th scope="col">Amount</th>
      <th scope="col">Comment</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>

<% if @operation_details.present? %>
    <tbody>
    <% idx = 1 %>
    <% @operation_details.each do |operation_detail| %>

      <tr>
        <td><%= idx  %></td>
        <% if @operation_type == 1 %>
          <td><%= Income.find(operation_detail.income_id).name  %></td>
          <% else %>
        <td><%= Expence.find(operation_detail.expence_id).name  %></td>
          <% end %>
        <td><%=operation_detail.amount  %></td>
        <td><%=operation_detail.comment  %></td>
        <td><%= link_to 'Edit', edit_operation_detail_path(operation_detail, operation_type: @operation_type) %></td>
        <td><%= link_to 'Destroy', operation_detail, method: :delete, data: { confirm: 'Are you sure?' } ,
                        class: "text-decoration-none"%></td>
        <% idx += 1 %>

      </tr>
    <% end %>

    </tbody>
    <% end %>
  </table>

<% end %>
