<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @operation.comment %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= image_tag(@operation.image, title: @operation.image.filename) if @operation.image.present? %>
</p>

<p>
  <strong>Marked:</strong>
  <%= @operation.marked == false ? "No" : "Yes" %>
</p>

<p>
  <strong>Date:</strong>
  <%= @operation.date %>
</p>

<p>
  <strong>User:</strong>
  <%= author(@operation.user_id) %>
</p>

<%= link_to 'Edit', edit_operation_path(@operation) %> |
<%= link_to 'Back', operations_path %>
